<app-home></app-home>
<div class="sysadmin_dash">
<button routerLink="/sa/chpro" class="opt">Add Problem Administrator</button>
<button routerLink="/sa/remadmin"  class="opt">Remove Problem Administrator</button>
<button routerLink="/sa/chusr"  class="opt">Add User</button>
<button routerLink="/sa/remusr"  class="opt">Remove User</button>
<button routerLink="/sa/chcat"  class="opt">Add Problem Category</button>
<!-- <button routerLink="/sa/rmcat"  class="opt">Remove Category</button> -->
<button routerLink="/sa/chloc"  class="opt">Add Location</button>
<button routerLink="/sa/technician"  class="opt">Add Technician</button>
</div>