<!--<button routerLink="/home">Home</button>
<button routerLink="/videos">Videos</button>
<router-outlet></router-outlet>-->
<!--<div fxLayout="column" fxFlex >

 <mat-toolbar color="primary">





      <a mat-button routerLink="/videos" routerLinkActive="active"><span class="fa fa-th-large fa-lg"></span> DASHBOARD</a>
      <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-comments fa-lg"></span> CHAT</a>
      <a mat-button><span class="fa fa-bell fa-lg"></span> NOTIFICATION</a>



    <span class="ex"></span>
    <button mat-mini-fab color="warn">SOS</button>


 </mat-toolbar>-->






<router-outlet></router-outlet>

